<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск трекера</title>
</head>
<body>
    <h1>Поиск GPS трекера</h1>
    <form action="{% url 'track' %}" method="get">
        <label for="tracker_id">Введите ID трекера:</label>
        <input type="text" id="tracker_id" name="tracker_id" required>
        <button type="submit">Поиск</button>
    </form>
</body>
</html>
